<section id="register">
  <div class="container mt-4">

    <div class="card">
      <div class="card-body">

        <form name="formProfile" #formProfile="ngForm" (ngSubmit)="onCompleteUser()">

          <div class="form-row">

            <input type="hidden" name="id" [(ngModel)]="this.pService.selectedProfile.id">
            <input type="hidden" name="email" [(ngModel)]="this.pService.selectedProfile.email">

            <div class="col form-group">
              <label for="nombre"> <strong>Nombre</strong> </label>
              <input type="text" class="form-control" placeholder="Ingresar nombre" name="nombre"
                [(ngModel)]="this.pService.selectedProfile.nombre" #nombre>
            </div>
            <div class="col form-group">
              <label for="apellidos"> <strong>Apellidos</strong> </label>
              <input type="text" class="form-control" placeholder="Ingresar apellidos" name="apellidos"
              [(ngModel)]="this.pService.selectedProfile.apellidos" #apellidos>
            </div>

          </div>

          <div class="form-group">
            <label for="celNumero"> <strong>Numero Celular</strong> </label>
            <input type="text" class="form-control" placeholder="Ingresar número celular" name="celNumero"
              [(ngModel)]="this.pService.selectedProfile.celNumero" #celNumber>
          </div>

          <label for="InputImagen2"> <strong>Imagen de perfil</strong> </label>
          <div class="form-group custom-file">
            <label class="custom-file-label">Elegir imagen de perfil</label>
            <input type="file" class="form-control-file custom-file-input" id="InputImagen">
          </div>

          <br>

          <button type="submit" class="btn btn-primary mt-2 btn-block">Guardar</button>
        </form>

      </div>
    </div>

  </div>
</section>
