<section id="profile" class="container">

  <div class="row mt-3">

    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">

      <div class="card" >
        <img src="{{profile.urlImagen}}" class="rounded-circle img-thumbnail" style="width: 60%; align-self: center;" alt="profile">
        <div class="card-body text-center">
          <h3 class="card-title">{{profile.nombre}} {{profile.apellidos}}</h3>
          <h5> {{profile.celNumero}} </h5>
          <p> {{profile.email}} </p>
        </div>

        <button [routerLink]="['/labor']" class="btn btn-danger">Modo Laboral</button>

      </div>

    </div>
  </div>
</section>

