<section id="request">
  <div class="container mt-4">

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 mx-auto">

        <div class="card">
          <div class="card-body">
            <form name="formRequest" #formRequest="ngForm" (ngSubmit)="onSaveRequest(formRequest)">

              <div class="form-row">

                <div class="form-group">
                  <label for="categoria"> <strong> Categoria </strong>
                    <p>Selecciones la que más se adecua a su necesidad</p>
                  </label>
                  <select name="categoria" class="form-control" placeholder="" ngModel required>
                    <option value="Plormero">Plomero</option>
                    <option value="Generales">Generales</option>
                    <option value="Electricista">Electricista</option>
                    <option value="Limpieza">Limpieza</option>
                  </select>
                  <div class="invalid-feedback">
                    Seleccione dato
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="descripcion"> <strong> Descripción </strong></label>
                <textarea rows="3" class="form-control" name="descripcion"
                  placeholder="Los detalles del servicio que requieres..." ngModel required></textarea>
                <div class="invalid-feedback">
                  Ingresa descripcion
                </div>
              </div>
              <div class="form-group">
                <label for="direccion"> <strong> Dirección </strong></label>
                <input class="form-control" name="direccion" placeholder="Ingrese lugar donde se realizara..." ngModel
                  required>
                <div class="invalid-feedback">
                  Ingresa direccion
                </div>
              </div>

              <div class="form-group">
                <label for="numeroCon"> <strong> Número de contacto </strong></label>
                <input class="form-control" name="numeroCon" placeholder="Ingrese número celular para contactarlo..."
                  ngModel required>
                <div class="invalid-feedback">
                  Ingresa numero de contacto
                </div>
              </div>

              <div *ngIf="campoVacio"  class="alert text-center alert-danger alert-dismissible fade show" role="alert">
                <h5>Hay campos vacios!</h5>
              </div>

              <button type="submit" class="btn btn-primary mt-2 btn-block">
                Solicitar
              </button>
            </form>

          </div>
        </div>

      </div>
    </div>




  </div>
</section>