<section id="request">
  <div class="container mt-4">

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 mx-auto">

        <div class="card">
          <div class="card-body">
            <form name="formRequest" #formRequest="ngForm" (ngSubmit)="onSaveRequest(formRequest)">

              <div class="form-row">

                <div class="form-group">
                  <label for="categoria"> <strong> Categoria </strong>
                    <p>Selecciones la que más se adecua a su necesidad</p>
                  </label>
                  <select name="categoria" class="form-control" placeholder="" ngModel>
                    <option value="Plormero">Plomero</option>
                    <option value="Generales">Generales</option>
                    <option value="Electricista">Electricista</option>
                    <option value="Limpieza">Limpieza</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="descripcion"> <strong> Descripción </strong></label>
                <textarea rows="3" class="form-control" name="descripcion"
                  placeholder="Los detalles del servicio que requieres..." ngModel></textarea>
              </div>
              <div class="form-group">
                <label for="direccion"> <strong> Dirección </strong></label>
                <textarea class="form-control" name="direccion" placeholder="Ingrese lugar donde se realizara..."
                  ngModel></textarea>
              </div>

              <div class="form-group">
                <label for="numeroCon"> <strong> Número de contacto </strong></label>
                <textarea class="form-control" name="numeroCon" placeholder="Ingrese número celular para contactarlo..."
                  ngModel></textarea>
              </div>

              <button type="submit" class="btn btn-primary mt-2 btn-block">
                Solicitar
              </button>
            </form>


            <!-- <div class="modal fade" id="exampleModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Solicitud enviada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Espere a que su solicitud sea aceptada.
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>

      </div>
    </div>




  </div>
</section>
