<div class="modal fade" id="modalBook" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">
          Con el modo laboral tu podras ofrecer algun oficio o trabajo que realices
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form name="formLabor" #formLabor="ngForm" (ngSubmit)="onUpdateLabor(formLabor)">

          <div class="form-row">

            <input type="hidden" name="id" [(ngModel)]="this.pService.selectedProfile.id">

            <div class="form-group">
              <label for="oficio"> <strong> Oficio </strong>
                <p>Selecciona el oficio que realizas</p>
              </label>
              <select name="oficio" class="form-control" placeholder=""
                [(ngModel)]="this.pService.selectedProfile.oficio" required >
                <option value="Plormero">Plomero</option>
                <option value="Generales">Generales</option>
                <option value="Electricista">Electricista</option>
                <option value="Limpieza">Limpieza</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="experiencia">
              <h5>Experiencias de trabajo</h5>
            </label>
            <textarea rows="3" class="form-control" name="experiencia"
              placeholder="Escribe una breve descripción de trabajos que hayas realizado..."
              [(ngModel)]="this.pService.selectedProfile.experiencia" required></textarea>
          </div>

          <label for="InputImagen2">
            <h5>Anexos</h5>
          </label>
          <div class="form-group custom-file">
            <label class="custom-file-label" for="InputImagenes">Elegir imagenes de experiencia</label>
            <input type="file" class="form-control-file custom-file-input" id="urlImage" >
          </div>

          <button type="submit" class="btn btn-primary mt-2 btn-block ">Guardar</button>

        </form>

      </div>

    </div>
  </div>
</div>

<div class="container mt-5">

  <div class="card">

    <button [routerLink]="['/list-request']" class="btn btn-primary btn-block border">Ver solicitudes de
      trabajo</button>

  </div>
</div>